
:root {
    --primary-collor: #666;
    --secundary-collor: #19899d;
    --white-color:#dce3ed;
    --white-color2:#b6bec9;
    --green-collor: #72f2ae;
    --orange-collor: #dea373;
    --yellow-collor: #eedd6b;

}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dce3ed;
    color: var(--white-color);
}
.navbar{
    background-color: #252f39;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

.sair{
    position: absolute;
    right: 10px;
}
.navbar .navbar-brand{
    /* position: absolute; */
    margin-left: 10px;
}
.navbar .collapse .navbar-nav .nav-item .nav-link{
    color: #fff;

}
.navbar .collapse .navbar-nav .nav-item{
    width: 100px;
    text-align: center;

}


#myFrame{
    position: absolute;
    height: calc(100vh - 75px);
    top:75px;

}



/* Mobile Device */
@media screen and (max-width: 500px){
    .navbar .navbar-brand{
        position: relative;
        margin-left: 10px;
    }
    .navbar .navbar-brand .img-fluid{
        width: 50px;
    }
    .navbar .collapse .navbar-nav .nav-item{
        width: 100%;
    }
    .navbar-toggler{
        color: #fff;
        border: #fff 1px solid;
    }
}
